h1  {
  color: purple;
  text-align: center;
}
h2  {
  color: #ff33ca;
  text-align: center;
}

.center_element {
  text-align: center;
}

.flashy {
  color: red;
  font-style: italic;
}

.best {
  color: #12b50d;
  font-family: fantasy;
}