h1  {
  color: purple;
  text-align: center;
  font-family: cursive;
}
h2  {
  color: #12b50d;
  text-align: center;
  font-family: fantasy;
  font-size: medium;
}

.center_element {
  text-align: center;
}

.flashy {
  color: #d11e97;
  font-style: italic;
  text-align: center;
}

.best {
  color: #12b50d;
  font-family: fantasy;
  text-align: center;
}

.frog_cupcake {
  float: right;
  text-align: center;
}

.sidebar  {
  width: 30%;
  float: left;
  background-color: #109883;
  color: antiquewhite;
}